//Colors
//Primary

$Soft_blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

//8Neutral

$Very_dark_color1: hsl(217, 54%, 11%);
$Very_dark_color2: hsl(216, 50%, 16%);
$Very_dark_color3: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);
